#set($title="用户中心")
#set($navbar="user")
#set($userOperation="index")

#set($user=$UserWebX.findSessionUser())
#set($breadcrumbTitle="我的帐户")

<!-- 账户信息 -->
<div class="panel panel-primary">
    <div class="panel-body table-responsive">
        <table cellpadding="5" width="100%" class="tdpadding5">
			<tr>
				<td rowspan="5" class="col-xs-12 col-sm-5 col-md-2" align="center">
					<div class="user avatar">
                		<a href="#"><img src="$ctx/avatar/avatar04.gif" /></a>
                    </div>
    				<a href="$ctx/user/deposit-online.htm" class="text-lg">充值</a>
					&nbsp;|&nbsp;
					<a href="$ctx/user/withdraw.htm" class="text-lg">提现</a>
				</td>
			</tr>
			<tr>
				<td align="right"><div class="text-lg text-bold">冰点</div></td>
				<td>&nbsp;</td>
				<td align="right"><span class="text-muted text-sm">账户余额</span></td>
				<td><span class="text-lg color-orange"><strong>0.00</strong></span>元</td>
			</tr>
			<tr>
				<td align="right"><span class="text-muted">信用等级</span></td>
				<td><div class="credit bg-danger">E</div></td>
				<td align="right"><span class="text-muted">冻结金额</span></td>
				<td><span class="text-xs">100000.00</span>元</td>
			</tr>
			<tr>
                <td align="right"><span class="text-muted">信用额度</span></td>
				<td><span class="text-xs">100000.00</span>元</td>
				<td align="right"><span class="text-muted">投资金额</span></td>
				<td><span class="text-xs">100000.00</span>元</td>
			</tr>
			<tr>
				<td align="right"><span class="text-muted">剩余额度</span></td>
				<td><span class="text-xs">9876.00</span>元</td>
				<td align="right"><span class="text-muted">可用金额</span></td>
				<td><span class="text-xs">9876.00</span>元</td>
			</tr>
		</table>
    </div>
</div>

<div class="panel panel-primary">
    <div class="table-responsive">
        <table cellpadding="5" width="100%" class="tdpadding">
			<tr>
                <td align="center"><span class="text-muted">账户净资产</span></td>
				<td>&nbsp;</td>
				<td align="center"><span class="text-muted">理财资产</span></td>
				<td>&nbsp;</td>
				<td align="center"><span class="text-muted">借款负债</span></td>
				<td>&nbsp;</td>
				<td align="center"><span class="text-muted">账户余额</span></td>
			</tr>
			<tr>
                <td align="center"><span class="text-lg">0.00</span>元</td>
				<td align="center"><span class="text-xxlg"><strong>=</strong></span></td>
				<td align="center"><span class="text-lg">0.00</span>元</td>
				<td align="center"><span class="text-xxlg"><strong>+</strong></span></td>
				<td align="center"><span class="text-lg color-red">-0.00</span>元</td>
				<td align="center"><span class="text-xxlg"><strong>+</strong></span></td>
				<td align="center"><span class="text-lg">0.00</span>元</td>
			</tr>
		</table>
    </div>
	
	<hr #MarginBottomNO()/>
	
	<!-- 投资账户 -->
    <div class="body-caption">
		<span class="title-caption">投资账户</span>
		<span class="ml10">&nbsp;</span>
		<span>收益总金额</span>
		<span class="title-caption color-orange">148.30</span>
		<span>元</span>
        <span class="pull-right"><a href="#">收益明细</a></span>
	</div>
	<div class="body-content">
		<div class="table-responsive">
            <table class="table table-hover" #MarginBottomNO()>
    			<thead>
    				<tr>
                        <th><div class="text-center">账户资产</div></th>
    					<th><div class="text-center">已获收益</div></th>
    					<th><div class="text-center">加权平均收益率</div></th>
    					<th><div class="text-center">持有数量</div></th>
    					<th><div class="text-center">&nbsp;</div></th>
                    </tr>
                </thead>
    			<tbody>
                    <tr>
                        <td align="center">￥7000</td>
    					<td align="center">￥500</td>
    					<td align="center">13.2%</td>
    					<td align="center">20笔</td>
                        <td align="right"><a href="#">查看</a></td>
    				</tr>
    			</tbody>
    		</table>
        </div>
    </div>
	
	<!-- 借款账户 -->
	<div class="body-caption">
		<span class="title-caption">借款账户</span>
		<span class="ml10">&nbsp;</span>
		<span>待还总金额</span>
		<span class="title-caption color-orange">8000.00</span>
		<span>元</span>
        <span class="pull-right"><a href="#">借款明细</a></span>
	</div>
	<div class="body-content">
		<div class="table-responsive">
			<table class="table table-hover" #MarginBottomNO()>
    			<thead>
    				<tr>
                        <th><div class="text-center">借款标题</div></th>
    					<th><div class="text-center">待还本金</div></th>
    					<th><div class="text-center">待还利息/管理费</div></th>
    					<th><div class="text-center">预期费用</div></th>
    					<th><div class="text-center">&nbsp;</div></th>
                    </tr>
                </thead>
				<tbody>
                    <tr>
                        <td align="center">新房装修</td>
    					<td align="center">5000元</td>
    					<td align="center">300元</td>
    					<td align="center">0元</td>
                        <td align="right"><a href="#">查看</a></td>
    				</tr>
					<tr>
                        <td align="center">周转</td>
    					<td align="center">2600元</td>
    					<td align="center">100元</td>
    					<td align="center">0元</td>
                        <td align="right"><a href="#">查看</a></td>
    				</tr>
    			</tbody>
			</table>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
