#set($title="网购达人标 - 我要借款")
<div class="container">
	<div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="$ctx/index.htm"><i class="glyphicon glyphicon-hand-right"></i> 安众贷</a></li>
            <li><a href="/borrow-projects.htm">我要借款</a></li>
			<li>网购达人标</li>
        </ol>
    </div>
	
	<div class="col-md-12">
		<div class="panel panel-default">
            <div class="panel-body">
                <div><strong>亮点：</strong>安众贷为通过网购达人相关认证的您度身定制，并进行额度提升服务，彰显您的网购达人身份。 </div>
				<div>&nbsp;</div>
				<div><strong>推荐人群：</strong>工薪族、私营业主、网店卖家、学生。</div>
            </div>
			<div class="panel-footer">
				<div class="text-center"><a href="#" class="btn btn-danger btn-lg">我要发布此借款</a></div>
			</div>
        </div>
	
		<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>产品描述</strong></h3>
            </div>
			<div class="table-responsive">
                <table class="table table-bordered" #MarginBottomNO()>
                    <tr>
                        <td class="bg-default">额度</td>
						<td>3000元~50万元</td>
						<td class="bg-default">贷款利率</td>
						<td>16%~26.24%(即月利率：1.33%~2.18%)</td>
					</tr>
					<tr>
                        <td class="bg-default">贷款期限</td>
						<td>3~12个月</td>
						<td class="bg-default">投标时间</td>
						<td>1~15天</td>
					</tr>
					<tr>
                        <td class="bg-default">审核时间</td>
						<td>满标后1~3个工作日</td>
						<td class="bg-default">还款方式</td>
						<td>等额本息，按月还款</td>
					</tr>
					<tr>
                        <td class="bg-default">手续费</td>
						<td colspan="3">借款期限6个月（含）以下，借款成功后，本金的2%；借款期限6个月以上，借款成功后，本金的4%（不成功不收取成交服务费）</td>
					</tr>
				</table>
			</div>
        </div>
		
		<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>申请指南</strong></h3>
            </div>
			<ul class="list-group" #MarginBottomNO()>
                <li class="list-group-item">持中国居民身份证的中国大陆公民</li>
                <li class="list-group-item">21~55周岁</li>
                <li class="list-group-item">手机绑定</li>
                <li class="list-group-item">有收入来源</li>
				<li class="list-group-item">支付宝实名关联（年度消费金额需≥2000元）</li>
            </ul>
        </div>
		
		<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>准备资料</strong></h3>
            </div>
			<ul class="list-group" #MarginBottomNO()>
                <li class="list-group-item">身份证</li>
				<li class="list-group-item">支付宝上一年度个人年度对账单截图（页面完整并且显示支付宝账户名）</li>
				<li class="list-group-item">支付宝账户基本信息（显示支付宝账户名）</li>
                <li class="list-group-item"><strong>居住证明文件：</strong>银行对账单、公用事业缴费单、房产证、户口簿</li>
                <li class="list-group-item"><strong>收入证明文件：</strong>央行征信记录、交易流水或银行存折、行驶证</li>
            </ul>
        </div>
		
		<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>还款指南</strong></h3>
            </div>
			<ul class="list-group" #MarginBottomNO()>
                <li class="list-group-item">通过网上银行或第三方支付(如支付宝、财付通)还款</li>
            </ul>
        </div>
		
		<div class="well well-lg text-center"><a href="#" class="btn btn-danger btn-lg">我要发布此借款</a></div>
	</div>
</div>
