#set($title="安众贷首页-安全 大众 不等贷")
#set($bgstretcher="ON")
<div class="bgstretcher-slidebox">
    <div class="container">
		<div class="col-md-9 slidebox">
            <p class="slidebox-space"></p>
			<p class="slidebox-pages text-right"></p>
        </div>
        <div class="col-md-3">
            <div class="login">
                <div class="loginBox">
                    <form role="form" method="get" action="$ctx/home/index-login.htm">
                        <div class="form-group">
    						<label for="userName">用户名：</label>
    						<input id="userName" name="userName" type="text" class="form-control" placeholder="注册用户名" />
                        </div>
						<div class="form-group">
    						<label for="passwd">登陆密码：</label>
    						<input id="passwd" name="passwd" type="password" class="form-control" placeholder="登录密码" />
                        </div>
						<button type="submit" class="btn btn-primary btn-block"><strong>快速登录</strong></button>
                    </form>
                </div>
            </div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<div class="container">
	<!-- 投资列表 -->
	<div class="col-md-9">
		<div class="panel panel-info">
			<div class="panel-heading"><strong>投资列表</strong></div>
            <table class="table table-hover">
				<thead>
            		<tr>
                    	<th class="col-md-3">投资标的</th>
                    	<th>信用等级</th>
                    	<th>年利率</th>
                    	<th>金额</th>
						<th>期限</th>
						<th>进度</th>
						<th>状态</th>
                    </tr>
                </thead>
                <tbody>
					<tr>
						<td>日常生活消费</td>
						<td>AA</td>
						<td>13.2%</td>
						<td>8000元</td>
						<td>6个月</td>
						<td>36%</td>
						<td>正在投标</td>
                    </tr>
                    <tr>
						<td>房子装修</td>
						<td>B</td>
						<td>11%</td>
						<td>10000元</td>
						<td>3个月</td>
						<td>100%</td>
						<td>已满标</td>
                    </tr>
					<tr>
						<td>日常生活消费</td>
						<td>AA</td>
						<td>13.2%</td>
						<td>8000元</td>
						<td>6个月</td>
						<td>36%</td>
						<td>正在投标</td>
                    </tr>
                    <tr>
						<td>房子装修</td>
						<td>B</td>
						<td>11%</td>
						<td>10000元</td>
						<td>3个月</td>
						<td>100%</td>
						<td>已满标</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
	<!-- 投资知识 -->
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>投资知识</strong></div>
            <table class="table table-hover">
                <tbody>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

	<!-- 安众社区 -->
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>安众社区</strong></div>
            <table class="table table-hover">
                <tbody>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 平安集团旗下的陆金所近期也悄然推出了“陆金宝”业务</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 平安集团旗下的陆金所近期也悄然推出了“陆金宝”业务</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 平安集团旗下的陆金所近期也悄然推出了“陆金宝”业务</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 平安集团旗下的陆金所近期也悄然推出了“陆金宝”业务</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 平安集团旗下的陆金所近期也悄然推出了“陆金宝”业务</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
	<!-- 行业资讯 -->
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>行业资讯</strong></div>
            <table class="table table-hover">
                <tbody>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
