#set($title="安众贷(www.anzhongdai.com)安众贷首页-安全-大众-不等贷")
<div class="container">
	<div class="index-head">
		<div class="index-banner">
            <div class="index-carousel">
				#foreach($carousel in $CarouselWebX.findHome())
                <div>
                    <a href="$!carousel.linkUrl" target="_blank"><img src="$!carousel.imgPath" alt="$!carousel.title"/></a>
                    <p class="title">$!carousel.title</p>
                </div>
				#end
			</div>
        </div>

        <div class="index-status">
            <div class="login-status">
                <div class="no-logged">
					<p class="clearfix index-status-logo-wrap">
						<i class="icon-index-status-logo"></i>
						<span>中国平安倾力打造的<br/>网络投融资平台</span>
                    </p>
					<p class="reg-user"><span>979,755</span>人 已完成注册 </p>
					<div class="clearfix btn-wrap">
                        <a href="$ctx/login.htm" class="btn btn-warning" data-sk="登录区-登录">登录</a>
                        <a href="$ctx/regist.htm" class="btn btn-success" data-sk="登录区-免费注册">免费注册</a>
                    </div>
				</div>
            </div>
			<div class="trade-data" id="trade-data" style="position:relative;">
                <p>一周交易数据</p>
                <ul class="trade-data-list">
					<li><i class="icon-data-arrow"></i><span><strong>7,779</strong>人 成功投资</span></li>
					<li><i class="icon-data-arrow"></i><span><strong>20,864</strong>人 收到本金和利息</span></li>
					<li><i class="icon-data-arrow"></i><span><strong>1,355</strong>人 成功转让</span></li>
				</ul>
            </div>
    	</div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="container">
	<!-- 投资列表 -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title"><div class="pull-right"><a href="/projects.htm" target="_blank"><i class="fa fa-bars"></i> 更多</a></div>投资列表</div>
        </div>
        <div class="table-responsive">
    		<table class="table table-hover lend-projects" #MarginBottomNO()>
				<thead>
					<tr>
                        <th><div class="text-center">标题/借款人</div></th>
						<th><div class="text-center">认证</div></th>
						<th><div class="text-center">金额(元)</div></th>
						<th><div class="text-center">当前利率</div></th>
						<th><div class="text-center">期限</div></th>
						<th><div class="text-center">信用等级</div></th>
						<th><div class="text-center">进度/剩余时间</div></th>
                    </tr>
                </thead>
    			<tr>
    				<td>
						<div class="pull-left avatar"><img width="52" height="52" src="$ctx/avatar/tstuser/avatar_120.jpg" /></div>
						<div>
                            <p><a href="/project-detail.htm" target="_blank" title="【其他】有时会出现点小资金问题。因本人平时花销没依据。所以。。。"><strong>【其他】有时会出现点小资金问题...</strong></a></p>
                    		<p><a href="#" target="_blank">leilei3733</a></p>
						</div>
					</td>
					<td align="center">
						<div class="auth-icons-box">
							<i class="auth-icons auth-hukou otip" title="户口认证"></i>
							<i class="clearfix"></i>
                        </div>
					</td>
					<td align="center"><div class="text-danger">¥3,000</div></td>
					<td align="center"><div class="text-danger">9%</div></td>
					<td align="center"><div class="text-muted">3 个月</div></td>
                    <td align="center"><div class="credit bg-danger">E</div></td>
					<td align="center">
						<div class="lend-progress">
							<div class="progress-value" style="width:81%;background:#f7971a;">81%</div>
						</div>
						<div class="clearfix"></div>
						<div>23笔投标 已完成97%</div>
						<div class="text-muted">22天03时27分</div>
					</td>
    			</tr>
				<tr>
    				<td>
						<div class="pull-left avatar"><img width="52" height="52" src="$ctx/avatar/avatar01.gif" /></div>
						<div>
							<p><a href="/project-detail.htm" target="_blank" title="第三标，非提现，积累信用，增加额度"><strong>第三标，非提现，积累信用，增加额度</strong></a></p>
                    		<p><a href="#" target="_blank">tingfeng00</a></p>
						</div>
					</td>
					<td align="center">
						<div class="auth-icons-box">
							&nbsp;
                        </div>
					</td>
					<td align="center"><div class="text-danger">¥3,000</div></td>
					<td align="center"><div class="text-danger">9%</div></td>
					<td align="center"><div class="text-muted">3 个月</div></td>
                    <td align="center"><div class="credit bg-warning">D</div></td>
					<td align="center">
						<div class="lend-progress">
							<div class="progress-value" style="width:78%;background:#7cae4a;">78%</div>
						</div>
						<div class="clearfix"></div>
						<div>23笔投标 已完成78%</div>
						<div class="text-muted">22天03时27分</div>
					</td>
    			</tr>
				<tr>
    				<td>
						<div class="pull-left avatar"><img width="52" height="52" src="$ctx/avatar/avatar02.gif" /></div>
						<div>
							<p><a href="/project-detail.htm" target="_blank" title="149标 非提现 安全标 稳健投资 收益保障 6000标2"><strong>149标 非提现 安全标 稳健投资 收益保障 6000标2</strong></a></p>
                    		<p><a href="#" target="_blank">sk63</a></p>
						</div>
					</td>
					<td align="center">
                        <div class="auth-icons-box">
							<i class="auth-icons auth-hukou otip" title="户口认证"></i>
							<i class="auth-icons auth-video otip" title="视频认证"></i>
							<i class="auth-icons auth-phone otip" title="手机认证"></i>
							<i class="auth-icons auth-educate otip" title="学历认证"></i>
							<i class="clearfix"></i>
						</div>
					</td>
					<td align="center"><div class="text-danger">¥3,000</div></td>
					<td align="center"><div class="text-danger">9%</div></td>
					<td align="center"><div class="text-muted">3 个月</div></td>
                    <td align="center"><div class="credit bg-info">C</div></td>
					<td align="center">
						<div class="lend-progress">
							<div class="progress-value" style="width:100%;background:#39a1ea;">100%</div>
						</div>
						<div class="clearfix"></div>
						<div>10笔投标 已完成100%</div>
						<div class="text-muted">结束时间：2014-03-04</div>
					</td>
    			</tr>
				<tr>
    				<td>
						<div class="pull-left avatar"><img width="52" height="52" src="$ctx/avatar/avatar03.gif" /></div>
						<div>
							<p><a href="/project-detail.htm" target="_blank" title="安非周转，谢谢大家。"><strong>安非周转，谢谢大家。</strong></a></p>
                    		<p><a href="#" target="_blank">wujixian8</a></p>
						</div>
					</td>
					<td align="center">
						<div class="auth-icons-box">
							<i class="auth-icons auth-hukou otip" title="户口认证"></i>
							<i class="clearfix"></i>
                        </div>
					</td>
					<td align="center"><div class="text-danger">¥3,000</div></td>
					<td align="center"><div class="text-danger">9%</div></td>
					<td align="center"><div class="text-muted">3 个月</div></td>
                    <td align="center"><div class="credit bg-success">B</div></td>
					<td align="center">
						<div class="lend-progress">
							<div class="progress-value" style="width:0%;background:#7cae4a;">0%</div>
						</div>
						<div class="clearfix"></div>
						<div>0笔投标 已完成0%</div>
						<div class="text-muted">8天21时10分</div>
					</td>
    			</tr>
				<tr>
    				<td>
						<div class="pull-left avatar"><img width="52" height="52" src="$ctx/avatar/avatar04.gif" /></div>
						<div>
							<p><a href="/project-detail.htm" target="_blank" title="应收款保证标 请大家支持 非提现 A003"><strong>应收款保证标 请大家支持 非提现 A003</strong></a></p>
                    		<p><a href="#" target="_blank">lzwanghb</a></p>
						</div>
					</td>
					<td align="center">
						<div class="auth-icons-box">
							<i class="auth-icons auth-hukou otip" title="户口认证"></i>
							<i class="auth-icons auth-video otip" title="视频认证"></i>
							<i class="auth-icons auth-phone otip" title="手机认证"></i>
							<i class="clearfix"></i>
                        </div>
					</td>
					<td align="center"><div class="text-danger">¥3,000</div></td>
					<td align="center"><div class="text-danger">9%</div></td>
					<td align="center"><div class="text-muted">3 个月</div></td>
                    <td align="center"><div class="credit bg-primary">A</div></td>
					<td align="center">
						<div class="lend-progress">
							<div class="progress-value" style="width:0%;background:#7cae4a;">0%</div>
						</div>
						<div class="clearfix"></div>
						<div>0笔投标 已完成0%</div>
						<div class="text-muted">8天21时10分</div>
					</td>
    			</tr>
    		</table>
        </div>
    </div>
	
	<!-- 社区动态 -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title"><div class="pull-right"><a href="/forum/index.htm" target="_blank"><i class="fa fa-bars"></i> 更多</a></div>安众社区</div>
        </div>
        #set($lastTopics=$ForumWebX.findLastTopics())
		<div class="list-group">
			#foreach($topic in $lastTopics)
            <a href="$ctx/forum/topic.htm?id=$!topic.id" class="list-group-item" target="_blank"><span class="pull-right">$DateUtils.toStringDL($topic.gmtModify)</span><i class="fa fa-angle-right"></i> $!topic.title</a>
			#end
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
// 幻灯片
$(".index-carousel").kinMaxShow({
	height: 280,
	button: {
		showIndex: true,
		normal: {
			width: "18px",
			height: "18px",
			lineHeight: "18px",
			right: "16px",
			bottom: "6px",
			fontSize: "12px",
			opacity: 0.8,
			background: "#666666",
			border: "1px solid #999999",
			color: "#CCCCCC",
			marginRight: "6px"
		},
		focus: {
			background: "#CC0000",
			border: "1px solid #FF0000",
			color: "#000000"
		}
	}
});
//
});
</script>