#set($title="安众贷首页-安全 大众 不等贷")
#set($bgstretcher="ON")
<div class="bgstretcher-slidebox">
    <div class="container">
		<div class="col-xs-12 col-sm-7 col-md-9 slidebox">
            <div class="slidebox-subs">
				<a href="#"><img class="slidesub01" src="$ctx/upload/testimgs/slidebox-sub-01.png" alt="" /></a>
				<a href="#"><img class="slidesub02" src="$ctx/upload/testimgs/slidebox-sub-02.png" alt="" /></a>
				<a href="#"><img class="slidesub03" src="$ctx/upload/testimgs/slidebox-sub-03.png" alt="" /></a>
			</div>
			<div class="slidebox-pages text-center"></div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-3 loginbox">
            <div class="loginwrap">
                <h4>欢迎来到安众贷！</h4>
				<table class="table" #MarginBottomNO()>
                    <tbody>
                        <tr>
                            <td colspan="2"><a href="$ctx/home/product.htm" class="btn btn-success btn-lg btn-block">生意贷</a></td>
						</tr>
						<tr>
                            <td><a href="$ctx/home/product.htm" class="btn btn-info btn-lg btn-block">工薪贷</a></td>
							<td><a href="$ctx/home/product.htm" class="btn btn-info btn-lg btn-block">学生贷</a></td>
						</tr>
						<tr>
                            <td colspan="2"><a href="$ctx/home/product.htm" class="btn btn-primary btn-lg btn-block">网商贷</a></td>
						</tr>
					</tbody>
				</table>
            </div>
		</div>
	</div>
</div>

<div class="container">
	<div class="col-md-9">
		<div class="panel panel-info">
			<div class="panel-heading"><strong>投资列表</strong></div>
            <table class="table table-hover">
				<thead>
            		<tr>
                    	<th class="col-md-3">投资标的</th>
                    	<th>信用等级</th>
                    	<th>年利率</th>
                    	<th>金额</th>
						<th>期限</th>
						<th>进度</th>
						<th>状态</th>
                    </tr>
                </thead>
                <tbody>
					<tr>
						<td>日常生活消费</td>
						<td>AA</td>
						<td>13.2%</td>
						<td>8000元</td>
						<td>6个月</td>
						<td>36%</td>
						<td>正在投标</td>
                    </tr>
                    <tr>
						<td>房子装修</td>
						<td>B</td>
						<td>11%</td>
						<td>10000元</td>
						<td>3个月</td>
						<td>100%</td>
						<td>已满标</td>
                    </tr>
					<tr>
						<td>日常生活消费</td>
						<td>AA</td>
						<td>13.2%</td>
						<td>8000元</td>
						<td>6个月</td>
						<td>36%</td>
						<td>正在投标</td>
                    </tr>
                    <tr>
						<td>房子装修</td>
						<td>B</td>
						<td>11%</td>
						<td>10000元</td>
						<td>3个月</td>
						<td>100%</td>
						<td>已满标</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>投资知识</strong></div>
            <table class="table table-hover">
                <tbody>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>安装社区动态</strong></div>
            <table class="table table-hover">
                <tbody>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 平安集团旗下的陆金所近期也悄然推出了“陆金宝”业务</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 平安集团旗下的陆金所近期也悄然推出了“陆金宝”业务</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 平安集团旗下的陆金所近期也悄然推出了“陆金宝”业务</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 平安集团旗下的陆金所近期也悄然推出了“陆金宝”业务</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 平安集团旗下的陆金所近期也悄然推出了“陆金宝”业务</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>行业资讯</strong></div>
            <table class="table table-hover">
                <tbody>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
					<tr>
						<td><a href="/help/detail-325.htm"><i class="fa fa-question"></i> 隐私和资料安全如何保证？</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
