<div class="list-group">
	<a href="$ctx/help/consult.htm" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-edit"></i> 客服中心</a>
</div>

#set($id=$NumberUtils.toLong($id))
#set($helps=$HelpWebX.findTree())
<div class="list-group help-menus">
	#foreach($help in $helps)
    <li class="help-menu" data-clz="m$!{help.id}"><strong><i class="$!help.clazz"></i> $!{help.title}</strong><span class="pull-right"><i class="fa fa-plus"></i></span></li>
	<div class="m$!{help.id} hide">
		#foreach($item in $help.children) #if($item.id==$id) #set($helpCurrent=$item) #end
    	<a id="help-$!{item.id}" href="$ctx/help/center.htm?id=$!{item.id}" target="_blank"><span class="badge">$!item.children.size()</span>$!{item.title}</a>
		#end
    </div>
	#end
</div>