*.class

/.classpath

/.project

/.settings

/dist
/logs
/target


/resources/main-resources

/dalgen/logs
/dalgen/dalgen-mysql/logs
/dalgen/dalgen-mysql/target

/dalgen/dalgen-sqlite/logs
/dalgen/dalgen-sqlite/target

