#set($title="服务协议 - 帮助中心")
#set($user=$UserWebX.findSessionUser())
#set($help=$HelpWebX.find($NumberUtils.toLong($id)))
<div class="container">
	<div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="$ctx/index.htm"><i class="glyphicon glyphicon-hand-right"></i> 安众贷</a></li>
        	<li><a href="$ctx/help/center.htm">帮助中心</a></li>
			<li>$help.title</li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="col-md-3">
        #parse("/help/inc/inc-help-list.vm")
    </div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="text-center">
					<h3>$help.title</h3>
					<hr/>
                </div>
				<div class="page-content">
                    $help.content
                    <div class="pull-right">最后更新时间：$DateUtils.toStringDL(${help.gmtModify})</div>
                </div>
            </div>
        </div>
    </div>
</div>
