#set($code="test-forum-5")
#set($forum=$ForumWebX.findForum($code))
#set($title=$forum.title)
<div class="container">
	<div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="$ctx/index.htm"><i class="glyphicon glyphicon-hand-right"></i> 安众贷</a></li>
            <li><a href="$ctx/forum/index.htm">论坛首页</a></li>
        	<li>安众贷测试论坛</li>
        </ol>
    </div>
</div>

<div class="container">
	<div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading"><strong><i class="glyphicon glyphicon-minus-sign"></i> 安众贷论坛</strong></div>
            <div class="list-group">
                <a href="$ctx/forum/forum.htm" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> 安众贷测试论坛-1</a>
				<a href="$ctx/forum/forum.htm" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> 安众贷测试论坛-2</a>
				<a href="$ctx/forum/forum.htm" class="list-group-item list-group-item-info"><i class="glyphicon glyphicon-chevron-right"></i> 安众贷测试论坛-3</a>
				<a href="$ctx/forum/forum.htm" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> 安众贷测试论坛-4</a>
				<a href="$ctx/forum/forum.htm" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> 安众贷测试论坛-6</a>
            </div>
        </div>
    </div>
	<div class="col-md-9">
        <div class="panel panel-default" #MarginBottomNO()>
            <div class="panel-body text-success bg-info"><kbd>安众贷测试论坛-3</kbd>论坛的发展也如同网络雨后春笋般的出现，并迅速的发展壮大。论坛几乎涵盖了人们生活的各个方面，几乎每一个人都可以找到自己感兴趣或者需要了解的专题性论坛，而各类网站，综合性门户网站或者功能性专题网站也都青睐于开设自己的论坛，以促进网友之间的交流，增加互动性和丰富网站的内容。</div>
            <table class="table table-hover">
                <tbody>
        			<!-- 论坛公告 -->
        			<tr class="success">
                        <td colspan="3"><strong><i class="glyphicon glyphicon-volume-up"></i> 论坛公告</strong></td>
                    </tr>
                    <tr>
                        <td><div><a href="$ctx/forum/topic.htm"><img src="$ctx/public/img/ann_icon.gif" alt="论坛公告"/> 论坛测试主题标题01</a> (34评/102阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 老牛啊</a> <br/> <span class="text-muted">2014-02-03 12:13:53</span></div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 西门吹雪</a> <br/> <span class="text-muted">2014-02-03 13:13:03</span></div></td>
                    </tr>
					<tr>
                        <td><div><a href="$ctx/forum/topic.htm"><img src="$ctx/public/img/ann_icon.gif" alt="论坛公告"/> 论坛测试主题标题02</a> (34评/102阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 老牛啊</a> <br/> <span class="text-muted">2014-02-03 12:13:53</span></div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 西门吹雪</a> <br/> <span class="text-muted">2014-02-03 13:13:03</span></div></td>
                    </tr>
					<tr>
                        <td><div><a href="$ctx/forum/topic.htm"><img src="$ctx/public/img/ann_icon.gif" alt="论坛公告"/> 论坛测试主题标题03</a> (34评/102阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 老牛啊</a> <br/> <span class="text-muted">2014-02-03 12:13:53</span></div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 西门吹雪</a> <br/> <span class="text-muted">2014-02-03 13:13:03</span></div></td>
                    </tr>
        			<!-- 置顶主题 -->
        			<tr class="success">
                        <td colspan="3"><strong><i class="glyphicon glyphicon-upload"></i> 置顶主题</strong></td>
                    </tr>
                    <tr>
                        <td><div><a href="$ctx/forum/topic.htm"><img src="$ctx/public/img/pin.gif" alt="置顶主题"/> 置顶主题测试主题标题01</a> (33评/159阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 西门吹雪</a> <br/> <span class="text-muted">2014-02-03 13:13:03</span></div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 老牛啊</a> <br/> <span class="text-muted">2014-02-03 12:13:53</span></div></td>
                    </tr>
					<tr>
                        <td><div><a href="$ctx/forum/topic.htm"><img src="$ctx/public/img/pin.gif" alt="置顶主题"/> 置顶主题测试主题标题02</a> (33评/159阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 西门吹雪</a> <br/> <span class="text-muted">2014-02-03 13:13:03</span></div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 老牛啊</a> <br/> <span class="text-muted">2014-02-03 12:13:53</span></div></td>
                    </tr>
					<tr>
                        <td><div><a href="$ctx/forum/topic.htm"><img src="$ctx/public/img/pin.gif" alt="置顶主题"/> 置顶主题测试主题标题03</a> (33评/159阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 西门吹雪</a> <br/> <span class="text-muted">2014-02-03 13:13:03</span></div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 老牛啊</a> <br/> <span class="text-muted">2014-02-03 12:13:53</span></div></td>
                    </tr>
					<tr>
                        <td><div><a href="$ctx/forum/topic.htm"><img src="$ctx/public/img/pin.gif" alt="置顶主题"/> 置顶主题测试主题标题04</a> (33评/159阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 西门吹雪</a> <br/> <span class="text-muted">2014-02-03 13:13:03</span></div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 老牛啊</a> <br/> <span class="text-muted">2014-02-03 12:13:53</span></div></td>
                    </tr>
					<tr>
                        <td><div><a href="$ctx/forum/topic.htm"><img src="$ctx/public/img/pin.gif" alt="置顶主题"/> 置顶主题测试主题标题05</a> (33评/159阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 西门吹雪</a> <br/> <span class="text-muted">2014-02-03 13:13:03</span></div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 老牛啊</a> <br/> <span class="text-muted">2014-02-03 12:13:53</span></div></td>
                    </tr>
        			<!-- 论坛主题 -->
        			<tr class="success">
                        <td colspan="3"><strong><i class="glyphicon glyphicon-record"></i> 论坛主题</strong></td>
                    </tr>
                    <tr>
                        <td><div><a href="$ctx/forum/topic.htm"><img src="$ctx/public/img/tpc_new.gif" alt="论坛主题"/> 论坛主题测试主题标题01</a> (34评/567阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 陆小凤</a> <br/> <span class="text-muted">2014-02-03 13:13:03</span></div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 西门庆</a> <br/> <span class="text-muted">2014-02-03 12:13:53</span></div></td>
                    </tr>
					<tr>
                        <td><div><a href="$ctx/forum/topic.htm"><img src="$ctx/public/img/tpc_new.gif" alt="论坛主题"/> 论坛主题测试主题标题02</a> (34评/567阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 陆小凤</a> <br/> <span class="text-muted">2014-02-03 13:13:03</span></div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 西门庆</a> <br/> <span class="text-muted">2014-02-03 12:13:53</span></div></td>
                    </tr>
					<tr>
                        <td><div><a href="$ctx/forum/topic.htm"><img src="$ctx/public/img/tpc_new.gif" alt="论坛主题"/> 论坛主题测试主题标题03</a> (34评/567阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 陆小凤</a> <br/> <span class="text-muted">2014-02-03 13:13:03</span></div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 西门庆</a> <br/> <span class="text-muted">2014-02-03 12:13:53</span></div></td>
                    </tr>
					<tr>
                        <td><div><a href="$ctx/forum/topic.htm"><img src="$ctx/public/img/tpc_normal.gif" alt="论坛主题"/> 论坛主题测试主题标题04</a> (34评/567阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 陆小凤</a> <br/> <span class="text-muted">2014-02-03 13:13:03</span></div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 西门庆</a> <br/> <span class="text-muted">2014-02-03 12:13:53</span></div></td>
                    </tr>
					<tr>
                        <td><div><a href="$ctx/forum/topic.htm"><img src="$ctx/public/img/tpc_normal.gif" alt="论坛主题"/> 论坛主题测试主题标题05</a> (34评/567阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 陆小凤</a> <br/> <span class="text-muted">2014-02-03 13:13:03</span></div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 西门庆</a> <br/> <span class="text-muted">2014-02-03 12:13:53</span></div></td>
                    </tr>
					<tr>
                        <td><div><a href="$ctx/forum/topic.htm"><img src="$ctx/public/img/tpc_normal.gif" alt="论坛主题"/> 论坛主题测试主题标题06</a> (34评/567阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 陆小凤</a> <br/> <span class="text-muted">2014-02-03 13:13:03</span></div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 西门庆</a> <br/> <span class="text-muted">2014-02-03 12:13:53</span></div></td>
                    </tr>
					<tr>
                        <td><div><a href="$ctx/forum/topic.htm"><img src="$ctx/public/img/tpc_normal.gif" alt="论坛主题"/> 论坛主题测试主题标题07</a> (34评/567阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 陆小凤</a> <br/> <span class="text-muted">2014-02-03 13:13:03</span></div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 西门庆</a> <br/> <span class="text-muted">2014-02-03 12:13:53</span></div></td>
                    </tr>
					<tr>
                        <td><div><a href="$ctx/forum/topic.htm"><img src="$ctx/public/img/tpc_normal.gif" alt="论坛主题"/> 论坛主题测试主题标题08</a> (34评/567阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 陆小凤</a> <br/> <span class="text-muted">2014-02-03 13:13:03</span></div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm"><i class="glyphicon glyphicon-user"></i> 西门庆</a> <br/> <span class="text-muted">2014-02-03 12:13:53</span></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
		<div class="pull-right">
    		<ul class="pagination">
				<li><a href="$ctx/forum/topic.htm">1</a></li>
				<li><a href="$ctx/forum/topic.htm">2</a></li>
				<li><a href="$ctx/forum/topic.htm">3</a></li>
    			<li class="active"><a href="#">4 <span class="sr-only">(current)</span></a></li>
    			<li><a href="$ctx/forum/topic.htm">5</a></li>
				<li><a href="$ctx/forum/topic.htm">6</a></li>
				<li><a href="$ctx/forum/topic.htm">7</a></li>
				<li><a href="$ctx/forum/topic.htm">8</a></li>
				<li><a href="$ctx/forum/topic.htm">9</a></li>
				<li><a href="$ctx/forum/topic.htm">10</a></li>
    		</ul>
        </div>
		<div class="clearfix"></div>
		<div class="panel panel-info">
            <div class="panel-heading"><strong><i class="glyphicon glyphicon-edit"></i> 快速发帖</strong></div>
			<div class="panel-body">
    			<form role="form" method="post">
					<div class="form-group">
						<input id="tpcTitle" name="tpcTitle" type="text" class="form-control" required="required" placeholder="贴子标题" />
                    </div>
					<div class="form-group">
						<textarea id="tpcContent" name="tpcContent" required="required"></textarea>
                    </div>
					<button type="submit" class="btn btn-info"><i class="glyphicon glyphicon-plus-sign"></i> 提交贴子</button>
                </form>
			</div>
        </div>
    </div>
</div>
<script type="text/javascript">
#set($editor="ON")
$(document).ready(function() {
	UE.getEditor("tpcContent");
});
</script>