#set($forum=$ForumWebX.findForum($code))
#set($title=$forum.title)
<div class="container">
    <ol class="breadcrumb">
        <li><a href="$ctx/index.htm"><i class="glyphicon glyphicon-hand-right"></i> 安众贷</a></li>
        <li><a href="$ctx/forum/index.htm">论坛首页</a></li>
    	<li>$forum.title</li>
    </ol>

	<div class="row">
	<div class="#LayoutSS()">
        <div class="panel panel-primary">
            <div class="panel-heading">
				<div class="panel-title"><i class="glyphicon glyphicon-minus-sign"></i> 安众贷论坛</div>
			</div>
            <div class="list-group">
				#foreach($item in $ForumWebX.findValidForums())
                <a href="$ctx/forum/forum.htm?code=$item.code" class="list-group-item #if($StringUtils.equals($code, $item.code)) list-group-item-info #end"><span class="badge">$!item.topicCount</span><i class="glyphicon glyphicon-chevron-right"></i> $item.title</a>
				#end
            </div>
        </div>
    </div>
	<div class="#LayoutSX()">
        <div class="panel panel-primary" #MarginBottomNO()>
            <div class="panel-body text-success"><kbd>$forum.title</kbd> $forum.summary</div>
            <table class="table table-hover">
                <tbody>
        			<!-- 论坛公告 -->
        			<tr class="success">
                        <td colspan="3"><strong><i class="glyphicon glyphicon-volume-up"></i> 论坛公告</strong></td>
                    </tr>
					#set($topics=$ForumWebX.findGlobalTopTopics())
					#if($topics.isEmpty())
					<tr>
                        <td colspan="3">暂无论坛公告！</td>
                    </tr>
					#else
					#foreach($topic in $topics)
                    <tr>
                        <td><div><a href="$ctx/forum/topic.htm?id=$topic.id" style="$!topic.style"><img src="$ctx/public/img/ann_icon.gif" alt="论坛公告"/> $topic.title</a> ($topic.replyCount评/$topic.visitCount阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm?no=$topic.postUserNo"><i class="glyphicon glyphicon-user"></i> $topic.postNickName</a> <br/> <span class="text-muted">$DateUtils.toStringDL($topic.gmtPost)</span></div></td>
                        <td>#if($StringUtils.isBlank($topic.replyUserNo)) &nbsp; #else<div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm?$topic.replyUserNo"><i class="glyphicon glyphicon-user"></i> $topic.replyNickName</a> <br/> <span class="text-muted">$DateUtils.toStringDL($topic.gmtReply)</span></div>#end</td>
                    </tr>
					#end
					#end
        			<!-- 置顶主题 -->
        			<tr class="success">
                        <td colspan="3"><strong><i class="glyphicon glyphicon-upload"></i> 置顶主贴</strong></td>
                    </tr>
					#set($topics=$ForumWebX.findForumTopTopics($code))
					#if($topics.isEmpty())
					<tr>
                        <td colspan="3">暂无论坛主贴！</td>
                    </tr>
					#else
					#foreach($topic in $topics)
                    <tr>
                        <td><div><a href="$ctx/forum/topic.htm?id=$topic.id" style="$!topic.style"><img src="$ctx/public/img/pin.gif" alt="置顶主贴"/> $topic.title</a> ($topic.replyCount评/$topic.visitCount阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm?no=$topic.postUserNo"><i class="glyphicon glyphicon-user"></i> $topic.postNickName</a> <br/> <span class="text-muted">$DateUtils.toStringDL($topic.gmtPost)</span></div></td>
                        <td>#if($StringUtils.isBlank($topic.replyUserNo)) &nbsp; #else<div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm?no=$topic.replyUserNo"><i class="glyphicon glyphicon-user"></i> $topic.replyNickName</a> <br/> <span class="text-muted">$DateUtils.toStringDL($topic.gmtReply)</span></div>#end</td>
                    </tr>
					#end
					#end
        			<!-- 论坛主题 -->
        			<tr class="success">
                        <td colspan="3"><strong><i class="glyphicon glyphicon-record"></i> 论坛主贴</strong></td>
                    </tr>
					#set($pageList=$ForumWebX.findNormalTopics($NumberUtils.toInt($page, 1), $code))
					#set($topics=$pageList.items)
					#if($topics.isEmpty())
					<tr>
                        <td colspan="3">暂无主贴信息！</td>
                    </tr>
					#else
					#foreach($topic in $topics)
                    <tr>
                        <td><div><a href="$ctx/forum/topic.htm?id=$topic.id" style="$!topic.style"><img src="$ctx/public/img/pin.gif" alt="论坛主贴"/> $topic.title</a> ($topic.replyCount评/$topic.visitCount阅)</div></td>
                        <td><div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm?no=$topic.postUserNo"><i class="glyphicon glyphicon-user"></i> $topic.postNickName</a> <br/> <span class="text-muted">$DateUtils.toStringDL($topic.gmtPost)</span></div></td>
                        <td>#if($StringUtils.isBlank($topic.replyUserNo)) &nbsp; #else<div class="pull-right topic-extra-info"><a href="$ctx/user/user.htm?no=$topic.replyUserNo"><i class="glyphicon glyphicon-user"></i> $topic.replyNickName</a> <br/> <span class="text-muted">$DateUtils.toStringDL($topic.gmtReply)</span></div>#end</td>
                    </tr>
					#end
					#end
                </tbody>
            </table>
        </div>
		#if(!$pageList.items.isEmpty())
		#set($pager=$pageList.pager)
		<div class="pull-left">
    		<ul class="pagination">
				#set($pages=$pager.getSlider(11))
				#foreach($idx in $pages)
				#if($pager.isDisabledPage($idx))
				<li class="active"><a href="javascript:;">$idx <span class="sr-only">(current)</span></a></li>
				#else
				<li><a href="$ctx/forum/forum.htm?code=$code&page=$idx">$idx</a></li>
				#end
				#end
    		</ul>
        </div>
		#else
		<div>&nbsp;</div>
		#end
		<div class="clearfix"></div>
		#if(!$UserWebX.isLogin())
        <div class="alert alert-danger">只有会员登录之后才能发表帖子或回复帖子，请先 <a href="$ctx/login.htm">登录</a> 或免费 <a href="$ctx/regist.htm">注册</a> 会员！</div>
		#else
		<div class="panel panel-primary">
            <div class="panel-heading">
				<div class="panel-title"><i class="glyphicon glyphicon-edit"></i> 快速发帖</div>
            </div>
			<div class="panel-body">
    			<form id="form-create-topic" role="form" method="post">
					<div class="form-group">
						<input id="title" name="title" type="text" class="form-control" required="required" placeholder="贴子标题" />
                    </div>
					<div class="form-group">
						<textarea id="content" name="content" required="required"></textarea>
                    </div>
					<input type="hidden" name="forum" value="$forum.code" />
					<button type="submit" class="btn btn-lg btn-primary"><i class="glyphicon glyphicon-plus-sign"></i> 提交贴子</button>
                </form>
			</div>
        </div>
		#end
		<a name="forum-topic-post"></a>
    </div>
    </div>
</div>
#if($UserWebX.isLogin())
<script type="text/javascript">
$(document).ready(function() {
/** 富文本框 */
#set($editor="ON")
UE.getEditor("content");

/** 发表主贴 */
$("#form-create-topic").submit(function(e) {
	e.preventDefault();

	var title = $("#title").val();
	if(title.length < 3 || title.length > 128) {
		window.alert("主贴标题长度输入非法，长度必须在3和128之间，请重新输入！！");
		$("#title").focus();
		return false;
	}
	
	var content = $("#content").val();
	if(content.length < 20 || content.length > 65535) {
		window.alert("主贴长度输入非法，长度必须在20和65535之间，请重新输入！！");
		$("#content").focus();
		return false;
	}
	
	jQuery.ajax({
		type: "POST",
		dataType: "json",
		url: "$ctx/forum/forum-topic/create.htm",
		data: $("#form-create-topic").serialize(),

		success: function(result) {
			if(result.success) {
				var id = result.bizData["biz_id"];
				if(id > 0) {
					AZD.confirm(function(rtn) {
                    	if(rtn === "yes") {
                    		top.location.href = "$ctx/forum/topic.htm?id=" + id;
                    	}
                    }, "恭喜你，主贴发布成功！", "立即查看帖子", "继续发表");
				} else {
					AZD.modal("恭喜你，主贴发布成功！", "成功提示");
				}
				
				// 清空输入框
				$("#title").val("");
				UE.getEditor("content").setContent("", false);
			} else {
				AZD.alert(result.respDesp, "失败提示");
			}
		}
	});
});
//
});
</script>
#end