#set($page=$NumberUtils.toInt($!page, 1))
#set($topicView=$ForumWebX.findTopicView($page, $NumberUtils.toLong($id)))
#if(!$topicView.exist)
<div class="container">
    <ol class="breadcrumb">
        <li><a href="$ctx/index.htm"><i class="glyphicon glyphicon-hand-right"></i> 安众贷</a></li>
        <li><a href="$ctx/forum/index.htm">论坛首页</a></li>
    </ol>
    <div class="alert alert-danger">主贴不存在或已经被删除！！</div>
</div>
#else
#set($topic=$topicView.topic)
#set($forum=$ForumWebX.findForum($topic.forum))
#set($title=$topic.title)
<div class="container">
    <ol class="breadcrumb">
        <li><a href="$ctx/index.htm"><i class="glyphicon glyphicon-hand-right"></i> 安众贷</a></li>
        <li><a href="$ctx/forum/index.htm">论坛首页</a></li>
    	<li><a href="$ctx/forum/forum.htm?code=$forum.code">$forum.title</a></li>
    	<li>$topic.title</li>
    </ol>
		
    <div class="panel panel-primary">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-3 info">
						<div class="text-center">
							<i class="glyphicon glyphicon-comment"></i> 评论：<span class="text-danger">$topic.replyCount</span>
                            | <i class="glyphicon glyphicon-eye-open"></i> 查看：<span class="text-danger">$topic.visitCount</span>
						</div>
					</td>
                    <td><strong>$topic.title</strong></td>
                </tr>
				<tr>#set($postUser=$UserWebX.findUserByNo($topic.postUserNo))
                    <td class="info">
                        <div class="text-center"><strong><i class="glyphicon glyphicon-user"></i> $topic.postNickName</strong></div>
						<p/>
						<div class="text-center"><img src="$ctx$UserWebX.findUserAvatar($postUser)" width="120px" height="120px" /></div>
						<p/>
                        <div class="text-center"><strong>注册日期：</strong>$postUser.registDate</div>
					</td>
                    <td>
                        <div><i class="glyphicon glyphicon-calendar"></i> 发表于：$DateUtils.toStringDL($topic.gmtPost)</div>
						<hr/>
						<div>$topic.content</div>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
	#set($pageList=$topicView.pageList)
	#foreach($topic in $pageList.items)
	<div class="panel panel-primary">
        <table class="table table-bordered" #MarginBottomNO()>
            <tbody>
				<tr>#set($replyUser=$UserWebX.findUserByNo($topic.replyUserNo))
                    <td class="col-md-3 active">
                        <div class="text-center"><strong><i class="glyphicon glyphicon-user"></i> $topic.replyNickName</strong></div>
						<p/>
						<div class="text-center"><img src="$ctx$UserWebX.findUserAvatar($replyUser)" width="120px" height="120px" /></div>
						<p/>
                        <div class="text-center"><strong>注册日期：</strong>$replyUser.registDate</div>
					</td>
                    <td>
                        <div><i class="glyphicon glyphicon-calendar"></i> 发表于：$DateUtils.toStringDL($topic.gmtReply)<span class="pull-right">#$UtilWebX.findReplyNo($pageList.pager.pageNo, $velocityCount)</span></div>
						<hr/>
						<div>$topic.content</div>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
	#end
	
	#set($pager=$pageList.pager)
	#if($pager.totalCount>0)
	<div class="pull-left">
		<ul class="pagination">
			#set($pages=$pager.getSlider(11))
			#foreach($idx in $pages)
			#if($pager.isDisabledPage($idx))
			<li class="active"><a href="javascript:;">$idx <span class="sr-only">(current)</span></a></li>
			#else
			<li><a href="$ctx/forum/topic.htm?id=$id&page=$idx">$idx</a></li>
			#end
			#end
		</ul>
    </div>
	#end
	<div class="clearfix"></div>
	#if(!$topic.replyEnum.isAllowReply())
    <div class="alert alert-warning">该主贴禁止回贴！！</div>
	#else
	#if(!$UserWebX.isLogin())
    <div class="alert alert-danger">只有会员登录之后才能发表帖子或回复帖子，请先 <a href="$ctx/login.htm">登录</a> 或免费 <a href="$ctx/regist.htm">注册</a> 会员！</div>
	#else
	<ul class="nav nav-tabs">
        <li id="tab-create-reply"><a href="javascript:;"><i class="glyphicon glyphicon-edit"></i> 主贴回复</a></li>
        <li id="tab-create-topic"><a href="javascript:;"><i class="glyphicon glyphicon-plus-sign"></i> 发表新帖</a></li>
    </ul>
	<div class="nav-tab-body">
		<form id="form-create-reply" role="form" method="post">
			<div class="form-group">
                <div class="form-control-static"><strong>标题：</strong><span class="text-success">$topic.title</span></div>
            </div>
			<div class="form-group">
				<textarea id="replyContent" name="content" rows="5" required="required"></textarea>
            </div>
			<input type="hidden" name="topic" value="$id" />
			<input type="hidden" name="forum" value="$topic.forum" />
			<button type="submit" class="btn btn-lg btn-success"><i class="glyphicon glyphicon-plus-sign"></i> 提交回复</button>
        </form>
		#parse("/forum/inc/inc-topic-create-form.vm")
		<div class="clearfix"></div>
    </div>
	#end
	#end
</div>
#if($topic.replyEnum.isAllowReply() && $UserWebX.isLogin())
<script type="text/javascript">
#set($editor="ON")
$(document).ready(function() {
/** 富文本框 */
UE.getEditor("replyContent", {
	initialFrameWidth: "100%"
});

UE.getEditor("topicContent", {
	initialFrameWidth: "100%",
	initialFrameHeight: "500px"
});

/** Tab切换 */
$("#form-create-topic").toggle();
$("#tab-create-reply").addClass("active");
$("#tab-create-reply, #tab-create-topic").click(function() {
	$("#tab-create-reply").toggleClass("active");
	$("#tab-create-topic").toggleClass("active");
	
	$("#form-create-reply").toggle();
	$("#form-create-topic").toggle();
});
//
});
</script>
#end
#end