<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AZDAI-FORUM-USER">
	<!-- ============================================= -->
    <!-- Public SQLS                                   -->
    <!-- ============================================= -->

	<!-- ============================================= -->
    <!-- Public CopyS                                  -->
    <!-- ============================================= -->


    <!-- ============================================= -->
    <!-- mapped statements for MyBatisForumUserDAO -->
    <!-- ============================================= -->
    
    <!-- mapped statement for MyBatisForumUserDAO.insert -->
    <insert id="insert">
        INSERT INTO azdai_forum_user(
				forum_code, forum_title, user_no, nick_name, right_ext, gmt_expire, gmt_create, gmt_modify
			) VALUES(
				#{forumCode}, #{forumTitle}, #{userNo}, #{nickName}, #{rightExt}, #{gmtExpire}, DATETIME('NOW', 'LOCALTIME'), DATETIME('NOW', 'LOCALTIME')
			)
    </insert>

    <!-- mapped statement for MyBatisForumUserDAO.update -->
    <update id="update" >
        UPDATE azdai_forum_user SET
				forum_title=#{forumTitle}, nick_name=#{nickName}, right_ext=#{rightExt}, gmt_expire=#{gmtExpire}, gmt_modify=DATETIME('NOW', 'LOCALTIME')
			WHERE
				forum_code=#{forumCode} AND user_no=#{userNo}
    </update>

    <!-- mapped statement for MyBatisForumUserDAO.find -->
    <select id="find" resultMap="RMS.RM-FORUM-USER" >
    <![CDATA[
        select * from azdai_forum_user where ((forum_code = #{forumCode}) AND (user_no = #{userNo}))
    ]]>
    </select>

    <!-- mapped statement for MyBatisForumUserDAO.findForum -->
    <select id="findForum" resultMap="RMS.RM-FORUM-USER" >
    <![CDATA[
        select * from azdai_forum_user where (forum_code = #{value}) order by user_no ASC
    ]]>
    </select>

    <!-- mapped statement for MyBatisForumUserDAO.findUserNo -->
    <select id="findUserNo" resultMap="RMS.RM-FORUM-USER" >
    <![CDATA[
        select * from azdai_forum_user where (user_no = #{value}) order by forum_code ASC
    ]]>
    </select>

    <!-- mapped statement for MyBatisForumUserDAO.findExpire -->
    <select id="findExpire" resultMap="RMS.RM-FORUM-USER" >
    <![CDATA[
        select * from azdai_forum_user where (gmt_expire <= #{value})
    ]]>
    </select>

    <!-- mapped statement for MyBatisForumUserDAO.findAll -->
    <select id="findAll" resultMap="RMS.RM-FORUM-USER" >
    <![CDATA[
        select * from azdai_forum_user order by forum_code ASC, user_no ASC
    ]]>
    </select>

    <!-- mapped statement for MyBatisForumUserDAO.delete -->
    <delete id="delete" >
    <![CDATA[
        delete from azdai_forum_user where ((forum_code = #{forumCode}) AND (user_no = #{userNo}))
    ]]>
    </delete>

    <!-- mapped statement for MyBatisForumUserDAO.deleteForum -->
    <delete id="deleteForum" >
    <![CDATA[
        delete from azdai_forum_user where (forum_code = #{value})
    ]]>
    </delete>

    <!-- mapped statement for MyBatisForumUserDAO.deleteUserNo -->
    <delete id="deleteUserNo" >
    <![CDATA[
        delete from azdai_forum_user where (user_no = #{value})
    ]]>
    </delete>

    <!-- mapped statement for MyBatisForumUserDAO.deleteExpire -->
    <delete id="deleteExpire" >
    <![CDATA[
        delete from azdai_forum_user where (gmt_expire <= #{value})
    ]]>
    </delete>

</mapper>
