/*!
 * anzhongdai v2.0.1
 * Copyright 2014 anzhongdai.com, Inc.
 */
html,body {
	height: 100%;
	width: 100%;
}

body {
	line-height: 150%;
	padding-top: 70px;
	background: #f5f5f5; /* url('../img/grey.png') repeat;*/
	font-size: 14px;
	font-family: "Microsoft YaHei", '微软雅黑', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/* Courier, monospace !important; */
	/* text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075); */
}

a {
	color: #0036a9;
	text-decoration: none;
}

a:hover {
	color: #FF0000;
	text-decoration: none;
}

.color-red {
	color: #FF0000;
}

.color-orange {
	color: #f58708;
}

.ml10 {
	margin-left: 10px;
}

.mb10 {
	margin-bottom: 10px;
}

.text-xs {
	font-size: 16px;
}

.text-sm {
	font-size: 18px;
}

.text-lg {
	font-size: 20px;
}

.text-xxlg {
	font-size: 32px;
}

.pointer {
	cursor: pointer;
}

/* Tootip占位CSS */
.otip,.ktip {
	
}

.topic-extra-info {
	font-size: 10px;
}

.page-header-top {
	background-color: #f5f5f5;
	padding: 20px 20px 10px;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/**-----------------------------------------------------------------
 * Bootstrap样式
 */
.uitest-border {
	border: 1px solid #F00;
}

.bg-default {
	background-color: #CCC;
}

.navbar-brand {
	display: block;
	margin: 0 !important;
	padding: 0 !important;
}

.navbar-brand img {
	margin: 0 !important;
	padding: 0 !important;
	width: 50px !important;
	min-width: 50px !important;
	max-width: 50px !important;
	height: 50px !important;
	min-height: 50px !important;
	max-height: 50px !important;
}

.navbar-right {
	margin-right: 0px !important;
}

.breadcrumb {
	padding-left: 0px !important;
}

.list-group-item {
	border-style: none;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.list-group-item:first-child {
	border-top: 1px solid #ddd;
}

.list-group-item:last-child {
	border-bottom: 1px solid #ddd;
}

.list-group-item-active {
	background-color: #f5f5f5;
}

/**-----------------------------------------------------------------
 * 首页头部
 */
/*
.page-header-bg {
	color: white;
	width: 100%;
	min-height: 240px !important;
	margin-top: -20px;
	margin-bottom: 10px;
	padding-top: 15px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient(45deg, #020031, #6d3353);
	background-image: -moz-linear-gradient(45deg, #020031, #6d3353);
	background-image: linear-gradient(45deg, #000000, #6d3353);
}
*/
.top-slide-box {
	width: 100%;
	padding: 0 !important;
	margin-bottom: 10px !important;
}

.top-slide-box .container-fluid {
	width: 990px;
	min-width: 990px;
	max-width: 990px;
	padding: 0 !important;
}

.top-slide-box .row {
	border-radius: 3px;
	background-color: #FFF;
	border: solid 1px #CCC;
	padding: 0 !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 10px;
}

.top-slide-box .col-md-8,.top-slide-box .col-md-4 {
	height: 280px;
	padding: 0 !important;
}

.top-slide-box .col-md-8 {
	z-index: 99;
}

.top-slide-box .col-md-4 {
	z-index: 1;
	background: url("../img/login_logo.jpg") no-repeat 50% 50%;
}

.bgstretcher-slidebox {
	width: 100%;
	height: 280px;
	padding: 0 !important;
	margin-top: -19px !important;
	margin-bottom: 15px;
}

.bgstretcher-slidebox .slidebox {
	/* 幻灯片+分页高度 */
	height: 260px;
}

.bgstretcher-slidebox .slidebox-pages a {
	display: inline-block;
	padding: 5px 8px;
	line-height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	text-decoration: none;
	text-shadow: none;
	border-radius: 3px;
}

.bgstretcher-slidebox li {
	margin-bottom: 5px;
	font-size: 80%;
}

.bgstretcher-slidebox .bgstretcher-page {
	color: #fff;
	padding: 10px;
	/*background-color: rgba(0, 0, 0, 0.45);*/
}

.bgstretcher-slidebox .slidebox-subs {
	/* 把分页信息撑到底部 */
	min-height: 100%;
	height: auto;
	margin: 0 auto -25px;
	padding: 0 0 20px;
}

.bgstretcher-slidebox .slidebox-pages {
	/* 分页信息 */
	min-height: 20px !important;
}

.bgstretcher-slidebox .slidebox-pages ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.bgstretcher-slidebox .slidebox-pages ul li {
	display: inline;
	margin-left: 10px;
}

.bgstretcher-slidebox .slidebox-pages li.showPage a {
	color: #000;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #000;
}

.bgstretcher-slidebox .loginbox {
	/* 与.slidebox高度保持一致 */
	height: 260px;
	vertical-align: bottom !important;
}

.bgstretcher-slidebox .loginwrap {
	padding: 15px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.2);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#88000000, endcolorstr=#88000000);
}

.loginwrap td,.loginwrap tr {
	border: 0 !important;
	border-style: none !important;
}

.top-loginbox {
	height: auto;
}

.carousel {
	margin-bottom: 10px;
}

.logo-slide {
	height: 240px;
	min-height: 240px !important;
	max-height: 240px !important;
}

.logo-slide img {
	height: 240px;
	min-height: 240px !important;
	max-height: 240px !important;
}

/**-----------------------------------------------------------------
 * 固定底部，与#footer配合使用
 */
#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -110px;
	padding: 0 0 110px;
}

/**-----------------------------------------------------------------
 * 底部导航
 */
#footer {
	color: #999;
	width: 100%;
	min-height: 110px !important;
	/*border-top: 5px solid #e24e35;*/
	/*padding: 15px 0;*/
	font-size: 14px;
	padding-top: 10px;
	/*padding-bottom: 10px;*/
	/*background: #151515 url('../img/dark-bg.png') repeat;*/
	background: #194c73;
	-webkit-box-shadow: inset 0 1px 0 #292929;
	-moz-box-shadow: inset 0 1px 0 #292929;
	box-shadow: inset 0 1px 0 #292929;
}

#footer a {
	color: #FFFFFF;
}

#footer a:hover {
	color: #FF0000;
}

#footer .container,#footer .container-fluid {
	background: #194c73;
}

.bottom_nav {
	margin: 0 auto;
}

.bottom_nav ul {
	max-width: 600px !important;
	height: 36px;
	list-style: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.bottom_nav li {
	float: left;
	color: #FFF;
	height: 34px;
	line-height: 34px;
	margin: 0 10px 0 5px;
}

.bottom_nav .split {
	color: #000;
}

.bottom_nav .web_index,.bottom_nav .web_aboutus,.bottom_nav .web_map,.bottom_nav .web_service {
	background: url('../img/bottom_tit.png');
	display: block;
	float: left;
	margin-right: 10px;
}

.bottom_nav .web_index {
	background-position: 0 0;
	width: 35px;
	height: 31px;
}

.bottom_nav .web_aboutus {
	background-position: -36px 0;
	width: 35px;
	height: 31px;
}

.bottom_nav .web_map {
	background-position: -74px 0;
	width: 35px;
	height: 31px;
}

.bottom_nav .web_service {
	background-position: -112px 0;
	width: 35px;
	height: 34px;
}

.bottom_nav p {
	clear: both;
	color: #66aae9;
	text-align: center;
	font-size: 13px;
}

/**-----------------------------------------------------------------
 * 标的列表
 */
.lend-projects {
	
}

.lend-projects a {
	color: #08C !important;
}

.lend-projects a:hover {
	color: #F00 !important;
}

.lend-projects ul {
	margin: 0;
	height: auto;
	display: block;
	overflow: hidden;
	list-style: none;
}

.lend-projects table ul li {
	float: left;
	font-weight: bold;
}

.lend-projects .avatar {
	width: 60px;
	max-width: 60px;
}

.lend-projects .avatar img {
	display: block;
	border: 1px solid #CCC;
	border-radius: 3px;
	width: 52px;
	height: 52px;
	max-width: 52px;
	max-height: 52px;
}

.lend-projects .fast-lend {
	width: 120px;
	max-width: 120px;
	text-align: center;
}

.fast-lend .amount {
	width: 100px;
	max-width: 100px;
}

.fast-lend .plus {
	float: left;
	width: 12px;
	height: 12px;
	display: block;
	margin-top: 2px;
	margin-left: 5px;
	background: url(../img/plus-minus.gif) 0 -12px no-repeat;
}

.fast-lend .minus {
	float: left;
	width: 12px;
	height: 12px;
	display: block;
	margin-top: 2px;
	margin-left: 20px;
	margin-right: 5px;
	background: url(../img/plus-minus.gif) 0 0 no-repeat;
}

.fast-lend .amount {
	width: 40px;
	height: 25px;
	margin-bottom: 0;
	line-height: 14px;
}

/**-----------------------------------------------------------------
 * 认证图标
 */
.auth-icons-box {
	width: 110px;
	min-width: 110px;
}

.auth-icons {
	float: left;
	width: 26px;
	height: 30px;
	display: block;
	background: url(../img/auth-icons.png) no-repeat;
}

.auth-hukou {
	/* 户口认证 */
	background-position: -63px -71px;
}

.auth-video {
	/* 视频认证 */
	background-position: -63px -105px;
}

.auth-phone {
	/* 手机认证 */
	background-position: -63px -144px;
}

.auth-educate {
	/* 学历认证 */
	background-position: -63px -184px;
}

/* 信用等级 */
.credit {
	width: 24px;
	height: 24px;
	line-height: 24px;
	min-width: 24px !important;
	min-height: 24px !important;
	border-radius: 12px !important;
	line-height: 24px;
}

.credit-red {
	color: #FFF;
	background-color: #F00;
}

/* 标的进度 */
.lend-progress {
	width: 70px;
	height: 20px;
	margin: 0 auto;
	margin: 5px 0 5px 0;
	background-color: #CCC;
	/*
	border-radius: 8px;
	-moz-border-radius: 8px;
	*/
}

.lend-progress .progress-value {
	float: left;
	width: 50%;
	height: 20px;
	color: white;
	background: #7cae4a;
	line-height: 20px;
	text-indent: .5em;
	/*
	border-radius: 8px;
	-moz-border-radius: 8px;
	*/
}

/**-----------------------------------------------------------------
 * 标的详情
 */
.project-detail {
	
}

.project-detail-title {
	height: 40px;
	line-height: 40px;
	margin: 0 auto !important;
}

.project-detail-label {
	color: #999;
	width: 90px;
	line-height: 60px;
	display: block;
	float: left;
}

.project-detail-text {
	font-size: 26px;
	color: #ff9900;
	width: 120px;
	font-weight: 600;
	line-height: 60px;
	display: block;
	float: right;
}

.project-detail-state {
	width: 160px;
	height: 160px;
	line-height: 160px;
	display: block;
}

.project-detail-avatar {
	border: 1px solid #ccc;
	border-radius: 5px;
}

.project-detail-item {
	height: 30px;
	line-height: 30px;
}

.project-detail-notebook {
	margin-bottom: 15px;
}

/**-----------------------------------------------------------------
 * 用户中心
 */
.user-info-panel {
	
}

.user.avatar {
	width: 120px;
	height: 120px;
	line-height: 120px;
	margin-top: -40px;
	margin-bottom: 10px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #ccc;
}

.user.avatar img {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}

.user-name {
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
}

.user-item {
	height: 25px;
	line-height: 25px;
	display: block;
}

.user-funds td {
	padding: 10px;
}

.title-caption {
	font-size: 16px;
	font-weight: bold;
}

.user-account-caption {
	margin: 10px;
	padding: 10px;
	display: block;
	background-color: #d0e9c6;
}

.user-account-body {
	margin: 10px;
	padding: 10px;
	display: block;
}

.body-caption {
	padding: 10px;
	display: block;
	background-color: #d0e9c6;
}

.body-content {
	padding: 10px;
	display: block;
}

.instants input[type="radio"] {
	margin-top: 10px;
}

.instants .instant {
	width: 169px;
	height: 37px;
	display: block;
	background: url(../img/zhifu.png) no-repeat;
	border: 1px solid #CCC;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

.instants .charge-rate {
	width: 169px;
}

.instants .visa {
	background-position: 0 6px;
}

.instants .alipay {
	background-position: 0 -69px;
}

.instants .tenpay {
	background-position: 0 -31px;
}

.instants .shengpay {
	background-position: 0 -105px;
}

.instant-manual .control-label {
	margin-top: 10px;
}

.instant-manual img {
	border: 1px solid #ccc;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

/**-----------------------------------------------------------------
 * 账户绑定
 */
.account_bind_nav .bind_nav .bind_img {
	background: url('../img/account-bind.png') 0 0 #ebf4f6 no-repeat;
	height: 82px;
	width: 82px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}

.account_bind_nav .bind_nav .alipay {
	background-position: 13px 8px;
}

.account_bind_nav .bind_nav .tencent {
	background-position: -85px 8px;
}

.account_bind_nav .bind_nav .weibo {
	background-position: 13px -92px;
}

.account_bind_nav .bind_nav .renren {
	background-position: -86px -94px;
}

.account_bind_nav .bind_nav .google {
	background-position: 15px -192px;
}

.account_bind_nav .bind_nav .tenpay {
	background-position: -86px -194px;
}

.account_bind_nav .bind_nav .douban {
	background-position: 14px -294px;
}

.account_bind_nav .bind_nav .kaixin001 {
	background-position: -85px -292px;
}

/**-----------------------------------------------------------------
 * 安全中心
 */
.safety_setting .tips {
	font-size: 16px;
	font-weight: bold;
}

.safety_setting .contents {
	color: #666;
}

.safety_setting .pass {
	color: #0e5a9a;
}

.safety_setting td {
	height: 60px;
	vertical-align: middle;
}

.safety_setting span {
	width: 50px;
	height: 37px;
	display: block;
	background: url('../img/safety.png') no-repeat;
}

.safety_setting .safety_pass_icon1 {
	background-position: -54px 4px;
}

.safety_setting .safety_pass_icon2 {
	background-position: -54px -29px;
}

.safety_setting .safety_icon3 {
	background-position: 22px -64px;
}

.safety_setting .safety_pass_icon5 {
	background-position: -54px -136px;
}

.safety_setting .safety_icon4 {
	background-position: 22px -101px;
}

/**-----------------------------------------------------------------
 * 用户资料
 */
.essential_information .left_nav {
	width: 200px;
	padding-top: 55px;
}

.essential_information .left_nav label {
	width: 200px;
	text-align: center;
}

.essential_information .imgicon_nav {
	background: url('../img/user-detail.png') 0 -244px no-repeat;
	width: 84px;
	height: 84px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.float_l {
	float: left;
}

/**------------------------------------------------------------------
 * 返回顶部
 */
p#back-to-top {
	position: fixed;
	right: 3px;
	bottom: 125px;
}

p#back-to-top a {
	text-align: center;
	text-decoration: none;
	color: #d1d1d1;
	display: block;
	width: 40px;
	/*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
	-moz-transition: color 1s;
	-webkit-transition: color 1s;
	-o-transition: color 1s;
}

p#back-to-top a:hover {
	color: #979797;
}

p#back-to-top a span {
	background: #d1d1d1 url(../img/back-top.png) no-repeat center center;
	border-radius: 6px;
	display: block;
	width: 40px;
	height: 40px;
	margin-bottom: 5px;
	/*使用CSS3中的transition属性给<span>标签背景颜色添加渐变效果*/
	-moz-transition: background 1s;
	-webkit-transition: background 1s;
	-o-transition: background 1s;
}

#back-to-top a:hover span {
	background: #979797 url(../img/back-top.png) no-repeat center center;
}