/*!
 * anzhongdai v2.0.1
 * Copyright 2014 anzhongdai.com, Inc.
 */
html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-size: 14px;
	line-height: 150%;
	/*background: #FFF url('../img/grey.png') repeat;*/
	background: #FFF;
	font-family: "Microsoft YaHei", '微软雅黑', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
	color: #0036a9;
	text-decoration: none;
}

a:hover {
	color: #FF0000;
	text-decoration: none;
}

.pointer {
	cursor: pointer;
}

.chart-title {
	cursor: pointer;
}

/**
 * Tootip占位CSS
 */
.otip,.ktip {
	
}

/**
 * 个性化样式
 */
.table-responsive {
	overflow: auto;
}

.navbar-brand {
	display: block;
	margin: 0 !important;
	padding: 0 !important;
}

.navbar-brand img {
	margin: 0 !important;
	padding: 0 !important;
	width: 50px !important;
	min-width: 50px !important;
	max-width: 50px !important;
	height: 50px !important;
	min-height: 50px !important;
	max-height: 50px !important;
}

.panel-primary .panel-heading a {
	color: #FFF;
}

.panel-primary .panel-heading a:hover {
	color: #F00;
}

.nav-tab-body {
	padding: 15px;
	margin-bottom: 20px;
	background-color: #fff;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

/**
 * 禁止换行
 */
.top-menu-box {
	width: 100%;
	height: auto;
	margin-top: 1px;
	margin-bottom: 15px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FFF;
}

.nowrap {
	display: block;
	word-break: keep-all;
	white-space: nowrap;
}

.tdpadding5 td {
	padding: 5px;
}

.tdpadding td {
	padding: 10px;
}

.form-text {
	width: 160px;
	font-weight: bold;
	text-align: right;
}