##set($modal="ON")
<!-- Large modal -->
<button class="btn btn-primary" onclick="defaultModal()">默认模态框</button>
<script type="text/javascript">
function defaultModal() {
	AZD.modal("默认模态框！");
}
</script>

<button class="btn btn-primary" data-toggle="modal" data-target=".uitest-modal-ajax" data-backdrop="static" href="ajax-modal.htm?ts=haha">Ajax模态框</button>
<div class="modal fade uitest-modal-ajax" tabindex="-1" role="dialog" aria-labelledby="uitest-modal-ajax" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>
<script type="text/javascript">
function onModalSave(code, back) {
	AZD.modal("原代码: " + code + ", 返回代码: " + back);
}
</script>

<button class="btn btn-primary" onclick="azdAlert()">警告提示ALERT-AZD</button>
<button class="btn btn-primary" onclick="azdAlert2()">警告提示ALERT-AZD2</button>
<script type="text/javascript">
function azdAlert() {
	AZD.alert("哈哈，这个就是ALERT。", "Oops.", "YES");
}

function azdAlert2() {
	AZD.alert("哈哈。");
}
</script>

<button class="btn btn-primary" onclick="azdConfirm()">确认提示Confirm-AZD</button>
<button class="btn btn-primary" onclick="azdConfirm2()">确认提示Confirm-AZD2</button>
<script type="text/javascript">
function callback1(type) {
	if(type === "yes") {
		AZD.alert("1.哈哈，直接执行！！");
	} else {
		AZD.alert("1.取消，不要执行！！");
	}
}

function callback2(type) {
	if(type === "yes") {
		AZD.alert("2.哈哈，直接执行！！");
	} else {
		AZD.alert("2.取消，不要执行！！");
	}
}

function azdConfirm() {
	AZD.confirm(callback1, "哈哈，这个就是Confirm。", "YES", "NO");
}

function azdConfirm2() {
	AZD.confirm(callback2, "哈哈，这个就是Confirm2。");
}
</script>
