<!DOCTYPE html>
#include("/public/ie-html-enhance.vm")
<head>
<meta charset="UTF-8">
<title>#if($title)$title -#end 管理后台</title>
#parse("/mngt/inc/inc-header.vm")
<meta http-equiv="expires" content="0" />
<meta http-equiv="refresh" content="180;URL=$ctx/mngt/index-foot.htm" />
</head>
<body>
$screen_placeholder
#parse("/mngt/inc/inc-resource.vm")
<style type="text/css">
* {
	margin:0;
	padding:0;
}

body {
	background: #000;
}

.stats {
	color: #fff;
}

.stats a {
	color: #fff;
}

.stats a:hover {
	color: #f00;
}

.datetime {
	color: #fff;
}
</style>
</body>
</html>