<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>#if($title) $title -#end 安众贷</title>
#parse("/public/uniform-resources.vm")
</head>
<body id="body">
<div id="wrap">
#parse("/public/uniform-header.vm")
<div class="container">
    <ol class="breadcrumb">
        <li><a href="$ctx/index.htm"><i class="glyphicon glyphicon-hand-right"></i> 安众贷</a></li>
    	<li><a href="$ctx/user/index.htm">用户中心</a></li>
		#if($StringUtils.isBlank($!breadcrumbURL))
		<li>$!breadcrumbTitle</li>
		#else
		<li><a href="$!breadcrumbURL">$!breadcrumbTitle</a></li>
		#end
    </ol>
</div>

<div class="container">
<div class="row">
<!-- 菜单 -->
<div class="#LayoutSS()">
#parse("/user/inc/inc-menu-list.vm")
</div>
<!-- //菜单 -->
	
<!-- 内容 -->
<div class="#LayoutSX()">
$screen_placeholder
</div>
<!-- //内容 -->
</div>
</div>

</div>
#parse("/public/uniform-footer.vm")
</body>
</html>
