<!DOCTYPE html>
#include("/public/ie-html-enhance.vm")
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>#if($title) $title -#end</title>
<link href="$ctx/public/twbs/css/bootstrap.min.css" rel="stylesheet"/>
<link href="$ctx/public/twbs/css/bootstrap-theme.min.css" rel="stylesheet"/>
<link href="$ctx/public/twbs/css/non-responsive.css" rel="stylesheet"/>
<link href="$ctx/public/css/admin.css" rel="stylesheet"/>
<script type="text/javascript" charset="utf-8" src="$ctx/public/js/jquery-2.0.3.js"></script>
<script type="text/javascript" charset="utf-8" src="$ctx/public/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	<script type="text/javascript" charset="utf-8" src="$ctx/public/js/html5shiv.js"></script>
<![endif]-->
<script type="text/javascript" charset="utf-8" src="$ctx/public/js/jeesite.js"></script>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="$ctx/public/favicon.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="$ctx/public/favicon.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="$ctx/public/favicon.png" />
<link rel="apple-touch-icon-precomposed" href="$ctx/public/favicon.png" />
<link rel="shortcut icon" href="$ctx/public/favicon.png" />
</head>
<body id="body">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				$screen_placeholder
			</div>
		</div>
	</div>
#parse("/public/back-to-top.vm")
</body>
</html>