<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AZDAI-FORUM-TOPIC">
    <!-- ============================================= -->
    <!-- RESULT MAPS                                   -->
    <!-- ============================================= -->
    
    <!-- result maps for database table azdai_forum_topic -->
    <resultMap id="RM-FORUM-TOPIC" type="ForumTopicDTO">
        <result property="id" column="id" javaType="long" />
        <result property="catg" column="catg" javaType="java.lang.String" />
        <result property="forum" column="forum" javaType="java.lang.String" />
        <result property="state" column="state" javaType="java.lang.String" />
        <result property="topFlag" column="top_flag" javaType="java.lang.String" />
        <result property="eliteFlag" column="elite_flag" javaType="java.lang.String" />
        <result property="replyFlag" column="reply_flag" javaType="java.lang.String" />
        <result property="topic" column="topic" javaType="long" />
        <result property="postUserNo" column="post_user_no" javaType="java.lang.String" />
        <result property="postNickName" column="post_nick_name" javaType="java.lang.String" />
        <result property="gmtPost" column="gmt_post" javaType="java.util.Date" />
        <result property="visitCount" column="visit_count" javaType="int" />
        <result property="replyCount" column="reply_count" javaType="int" />
        <result property="replyUserNo" column="reply_user_no" javaType="java.lang.String" />
        <result property="replyNickName" column="reply_nick_name" javaType="java.lang.String" />
        <result property="gmtReply" column="gmt_reply" javaType="java.util.Date" />
        <result property="style" column="style" javaType="java.lang.String" />
        <result property="title" column="title" javaType="java.lang.String" />
        <result property="content" column="content" javaType="java.lang.String" />
        <result property="gmtCreate" column="gmt_create" javaType="java.util.Date" />
        <result property="gmtModify" column="gmt_modify" javaType="java.util.Date" />
    </resultMap>


	<!-- ============================================= -->
    <!-- Public SQLS                                   -->
    <!-- ============================================= -->
	<sql id="forum-topic-fields">
		id, catg, forum, state, top_flag, elite_flag, reply_flag, topic, post_user_no, post_nick_name, gmt_post, visit_count, reply_count, reply_user_no, reply_nick_name, gmt_reply, style, title, '' AS content, gmt_create, gmt_modify
	</sql>

	<sql id="find-fuzzy-WHERE">
		<where>
		<if test="id != null">
			AND id=#{id}
		</if>
		<if test="catg != null">
			AND catg=#{catg}
		</if>
		<if test="forum != null">
			AND forum=#{forum}
		</if>
		<if test="state != null">
			AND state=#{state}
		</if>
		<if test="topFlag != null">
			AND top_flag=#{topFlag}
		</if>
		<if test="eliteFlag != null">
			AND elite_flag=#{eliteFlag}
		</if>
		<if test="replyFlag != null">
			AND reply_flag=#{replyFlag}
		</if>
		<if test="topic != null">
			AND topic=#{topic}
		</if>
		
		<if test="postUserNo != null">
			AND post_user_no=#{postUserNo}
		</if>
		<if test="gmtPostBegin != null">
			AND gmt_post&gt;=#{gmtPostBegin}
		</if>
		<if test="gmtPostFinish != null">
			AND gmt_post&lt;=#{gmtPostFinish}
		</if>
		
		<if test="replyUserNo != null">
			AND reply_user_no=#{replyUserNo}
		</if>
		<if test="gmtReplyBegin != null">
			AND gmt_reply&gt;=#{gmtReplyBegin}
		</if>
		<if test="gmtReplyFinish != null">
			AND gmt_reply&lt;=#{gmtReplyFinish}
		</if>

		<if test="title != null">
			AND title LIKE #{title}
		</if>
		<if test="content != null">
			AND content LIKE #{content}
		</if>
	</where>
	</sql>


	<!-- ============================================= -->
    <!-- Public CopyS                                  -->
    <!-- ============================================= -->


    <!-- ============================================= -->
    <!-- mapped statements for MyBatisForumTopicDAO -->
    <!-- ============================================= -->
    
    <!-- mapped statement for MyBatisForumTopicDAO.insert -->
    <insert id="insert">
        INSERT INTO azdai_forum_topic(
				id, catg, forum, state, top_flag, elite_flag, reply_flag, topic, post_user_no, post_nick_name, gmt_post, visit_count, reply_count, reply_user_no, reply_nick_name, gmt_reply, style, title, content, gmt_create, gmt_modify
			) VALUES(
				#{id}, #{catg}, #{forum}, #{state}, #{topFlag}, #{eliteFlag}, #{replyFlag}, #{topic}, #{postUserNo}, #{postNickName}, #{gmtPost}, #{visitCount}, #{replyCount}, #{replyUserNo}, #{replyNickName}, #{gmtReply}, #{style}, #{title}, #{content,jdbcType=VARCHAR}, NOW(), NOW()
			)
    </insert>

    <!-- mapped statement for MyBatisForumTopicDAO.insertTopic -->
    <insert id="insertTopic">
        INSERT INTO azdai_forum_topic(
				id, catg, forum, state, top_flag, elite_flag, reply_flag, post_user_no, post_nick_name, gmt_post, visit_count, reply_count, style, title, content, gmt_create, gmt_modify
			) VALUES(
				#{id}, #{catg}, #{forum}, #{state}, #{topFlag}, #{eliteFlag}, #{replyFlag}, #{postUserNo}, #{postNickName}, NOW(), #{visitCount}, #{replyCount}, #{replyUserNo}, #{style}, #{title}, #{content,jdbcType=VARCHAR}, NOW(), NOW()
			)
    </insert>

    <!-- mapped statement for MyBatisForumTopicDAO.insertReply -->
    <insert id="insertReply">
        INSERT INTO azdai_forum_topic(
				id, catg, forum, topic, reply_user_no, reply_nick_name, gmt_reply, content, gmt_create, gmt_modify
			) VALUES(
				#{id}, #{catg}, #{forum}, #{topic}, #{replyUserNo}, #{replyNickName}, NOW(), #{content,jdbcType=VARCHAR}, NOW(), NOW()
			)
    </insert>

    <!-- mapped statement for MyBatisForumTopicDAO.update -->
    <update id="update" >
        UPDATE azdai_forum_topic SET
				forum=#{forum}, state=#{state}, top_flag=#{topFlag}, elite_flag=#{eliteFlag}, reply_flag=#{replyFlag}, topic=#{topic}, post_user_no=#{postUserNo}, post_nick_name=#{postNickName}, visit_count=#{visitCount}, reply_count=#{replyCount}, reply_user_no=#{replyUserNo}, reply_nick_name=#{replyNickName}, style=#{style}, title=#{title}, content=#{content,jdbcType=VARCHAR}, gmt_modify=NOW()
			WHERE
				id=#{id}
    </update>

    <!-- mapped statement for MyBatisForumTopicDAO.updateTopic -->
    <update id="updateTopic" >
        UPDATE azdai_forum_topic SET
				forum=#{forum}, state=#{state}, top_flag=#{topFlag}, elite_flag=#{eliteFlag}, reply_flag=#{replyFlag}, visit_count=#{visitCount}, reply_count=#{replyCount}, style=#{style}, title=#{title}, content=#{content,jdbcType=VARCHAR}, gmt_modify=NOW()
			WHERE
				id=#{id}
    </update>

    <!-- mapped statement for MyBatisForumTopicDAO.updateMeta -->
    <update id="updateMeta" >
        UPDATE azdai_forum_topic SET
				forum=#{forum}, state=#{state}, top_flag=#{topFlag}, elite_flag=#{eliteFlag}, reply_flag=#{replyFlag}, gmt_modify=NOW()
			WHERE
				id=#{id}
    </update>

    <!-- mapped statement for MyBatisForumTopicDAO.updateContent -->
    <update id="updateContent" >
        UPDATE azdai_forum_topic SET
				style=#{style}, title=#{title}, content=#{content,jdbcType=VARCHAR}, gmt_modify=NOW()
			WHERE
				id=#{id}
    </update>

    <!-- mapped statement for MyBatisForumTopicDAO.updateVisitDelta -->
    <update id="updateVisitDelta" >
        UPDATE azdai_forum_topic SET
				visit_count=visit_count+#{delta}, gmt_modify=NOW()
			WHERE
				id=#{id}
    </update>

    <!-- mapped statement for MyBatisForumTopicDAO.updateReplyDelta -->
    <update id="updateReplyDelta" >
        UPDATE azdai_forum_topic SET
				reply_count=reply_count+#{delta}, gmt_modify=NOW()
			WHERE
				id=#{id}
    </update>

    <!-- mapped statement for MyBatisForumTopicDAO.find -->
    <select id="find" resultMap="RM-FORUM-TOPIC" >
    <![CDATA[
        select * from azdai_forum_topic where (id = #{value})
    ]]>
    </select>

    <!-- mapped statement for MyBatisForumTopicDAO.findByTopic -->
    <select id="findByTopic" resultMap="RM-FORUM-TOPIC" >
        SELECT 				<include refid="forum-topic-fields"/>
			FROM
				azdai_forum_topic
			WHERE
				catg=#{catg} AND topic=#{topic}
			ORDER BY
				gmt_reply ASC
    </select>

    <!-- mapped statement for MyBatisForumTopicDAO.findByGlobalTops -->
    <select id="findByGlobalTops" resultMap="RM-FORUM-TOPIC" >
        SELECT 				<include refid="forum-topic-fields"/>
			FROM
				azdai_forum_topic
			WHERE
				catg=#{catg} AND state=#{state} AND topFlag=#{topFlag}
			ORDER BY
				reply_count DESC, gmt_post ASC
    </select>

    <!-- mapped statement for MyBatisForumTopicDAO.findByForumTops -->
    <select id="findByForumTops" resultMap="RM-FORUM-TOPIC" >
        SELECT 				<include refid="forum-topic-fields"/>
			FROM
				azdai_forum_topic
			WHERE
				forum=#{forum} AND catg=#{catg} AND state=#{state} AND topFlag=#{topFlag}
			ORDER BY
				reply_count DESC, gmt_post ASC
    </select>

    <!-- mapped statement for MyBatisForumTopicDAO.findFuzzy -->
    <select id="findFuzzy" resultMap="RM-FORUM-TOPIC" >
        SELECT 				<include refid="forum-topic-fields"/>
			FROM
				azdai_forum_topic
			WHERE
				<include refid="find-fuzzy-WHERE" />
			ORDER BY
				reply_count DESC, id DESC
			LIMIT #{offset},#{pageSize}
    </select>

    <!-- mapped statement for MyBatisForumTopicDAO.findFuzzyCount -->
    <select id="findFuzzyCount" resultType="long" >
        SELECT 				COUNT(*)
			FROM
				azdai_forum_topic
			WHERE
				<include refid="find-fuzzy-WHERE" />
    </select>

    <!-- mapped statement for MyBatisForumTopicDAO.delete -->
    <delete id="delete" >
        DELETE FROM azdai_forum_topic WHERE id=#{id} OR topic=#{id}
    </delete>

    <!-- mapped statement for MyBatisForumTopicDAO.deleteByUserNo -->
    <delete id="deleteByUserNo" >
        DELETE FROM azdai_forum_topic WHERE post_user_no=#{userNo} OR reply_user_no=#{userNo}
    </delete>

</mapper>
