<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AZDAI-FORUM-INFO">
	<!-- ============================================= -->
    <!-- Public SQLS                                   -->
    <!-- ============================================= -->

	<!-- ============================================= -->
    <!-- Public CopyS                                  -->
    <!-- ============================================= -->

    <!-- ============================================= -->
    <!-- mapped statements for MyBatisForumInfoDAO -->
    <!-- ============================================= -->
    
    <!-- mapped statement for MyBatisForumInfoDAO.insert -->
    <insert id="insert">
        INSERT INTO azdai_forum_info(
				code, sort, state, open_ext, title, summary, gmt_create, gmt_modify
			) VALUES(
				#{code}, #{sort}, #{state}, #{openExt}, #{title}, #{summary}, NOW(), NOW()
			)
    </insert>

    <!-- mapped statement for MyBatisForumInfoDAO.update -->
    <update id="update" >
        UPDATE azdai_forum_info SET
				sort=#{sort}, state=#{state}, open_ext=#{openExt}, title=#{title}, summary=#{summary}, gmt_modify=NOW()
			WHERE
				code=#{code}
    </update>

    <!-- mapped statement for MyBatisForumInfoDAO.find -->
    <select id="find" resultMap="RMS.RM-FORUM-INFO" >
    <![CDATA[
        select * from azdai_forum_info where (code = #{value})
    ]]>
    </select>

    <!-- mapped statement for MyBatisForumInfoDAO.findState -->
    <select id="findState" resultMap="RMS.RM-FORUM-INFO" >
    <![CDATA[
        select * from azdai_forum_info where (state = #{value}) order by sort ASC
    ]]>
    </select>

    <!-- mapped statement for MyBatisForumInfoDAO.findAll -->
    <select id="findAll" resultMap="RMS.RM-FORUM-INFO" >
    <![CDATA[
        select * from azdai_forum_info order by sort ASC
    ]]>
    </select>

    <!-- mapped statement for MyBatisForumInfoDAO.delete -->
    <delete id="delete" >
    <![CDATA[
        delete from azdai_forum_info where (code = #{value})
    ]]>
    </delete>

    <!-- mapped statement for MyBatisForumInfoDAO.deleteState -->
    <delete id="deleteState" >
    <![CDATA[
        delete from azdai_forum_info where (state = #{value})
    ]]>
    </delete>

</mapper>
