<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ATOM-IMAGE">
	<!-- ============================================= -->
    <!-- Public SQLS                                   -->
    <!-- ============================================= -->

	<!-- ============================================= -->
    <!-- Public CopyS                                  -->
    <!-- ============================================= -->

    <!-- ============================================= -->
    <!-- mapped statements for MyBatisImageDAO -->
    <!-- ============================================= -->
    
    <!-- mapped statement for MyBatisImageDAO.insert -->
    <insert id="insert">
        INSERT INTO atom_image(
				id, flag, topic, title, size, width, height, url, summary, gmt_create, gmt_modify
			) VALUES(
				#{id}, #{flag}, #{topic}, #{title}, #{size}, #{width}, #{height}, #{url}, #{summary}, NOW(), NOW()
			)
    </insert>

    <!-- mapped statement for MyBatisImageDAO.update -->
    <update id="update" >
        UPDATE atom_image SET flag=#{flag}, topic=#{topic}, title=#{title}, size=#{size}, width=#{width}, height=#{height}, url=#{url}, summary=#{summary}, gmt_modify=NOW() WHERE id=#{id}
    </update>

    <!-- mapped statement for MyBatisImageDAO.updateUrl -->
    <update id="updateUrl" >
        UPDATE atom_image SET flag=#{flag}, url=#{url}, gmt_modify=NOW() WHERE id=#{id}
    </update>

    <!-- mapped statement for MyBatisImageDAO.find -->
    <select id="find" resultMap="RMS.RM-IMAGE" >
    <![CDATA[
        select * from atom_image where (id = #{value})
    ]]>
    </select>

    <!-- mapped statement for MyBatisImageDAO.findAll -->
    <select id="findAll" resultMap="RMS.RM-IMAGE" >
    <![CDATA[
        select * from atom_image
    ]]>
    </select>

    <!-- mapped statement for MyBatisImageDAO.findTopic -->
    <select id="findTopic" resultMap="RMS.RM-IMAGE" >
    <![CDATA[
        select * from atom_image where (topic = #{value})
    ]]>
    </select>

    <!-- mapped statement for MyBatisImageDAO.delete -->
    <delete id="delete" >
    <![CDATA[
        delete from atom_image where (id = #{value})
    ]]>
    </delete>

    <!-- mapped statement for MyBatisImageDAO.deleteTopic -->
    <delete id="deleteTopic" >
    <![CDATA[
        delete from atom_image where (topic = #{value})
    ]]>
    </delete>

</mapper>
