#set($layout="/mngt/layout/index.vm")
#set($title="管理首页")
<table id="SetBox" cellpadding="0" cellspacing="0" width="100%" height="100%" style="width:100%;height:100%">
    <tr>
        <td id="own-head-box" colspan="2" height="30" style="width:100%;height:30px;">
            <div id="HeadBox" class="HeadBox top-nav" #MarginBottomNO()>
            	##parse("/public/uniform-header.vm")
				<div class="top-login-state">
    				<div class="tool-navs">
    					<div class="tool-nav pull-left">
							<em>|</em>
    						<a href="/index.htm" #TargetURL()>首页</a>
    						<em>|</em>
    						<a href="/projects.htm" #TargetURL()>我要投资</a>
                            <em>|</em>
                            <a href="/borrow-projects.htm" #TargetURL()>我要借款</a>
							<em>|</em>
                            <a href="/forum/index.htm" #TargetURL()>安众社区</a>
							<em>|</em>
                            <a href="/help/center.htm" #TargetURL()>帮助中心</a>
							<em>|</em>
    					</div>
						<div class="tool-nav">
							<em>|</em>
    						<a href="/mngt/index.htm" target="_top">后台首页</a>
    						<em>|</em>
    						<a href="/user-logout.htm" target="_top">登出系统</a>
                            <em>|</em>
                            <a href="javascript:;" id="btn-hide-menu"><i class="fa fa-arrows-alt"></i><span>隐藏</span></a>
							<em>|</em>
    					</div>
    				</div>
				</div>
            </div>
        </td>
    </tr>
    <tr>
        <td id="own-menu-box" valign="top" width="170" height="100%" style="width:170;height:100%;">
			<div class="MenuBox">
				<iframe id="menu" name="menu" src="$ctx/mngt/index-menu.htm" width="100%" height="100%" frameborder="0" marginwidth="0" marginheight="0" allowtransparency="true" style="width:100%;height:100%;"></iframe>
            </div>
        </td>
		<td id="own-main-box" valign="top" width="100%" height="100%" style="width:100%;height:100%">
            <iframe id="MainBox" name="main" src="$ctx/mngt/main.htm" width="100%" height="100%" frameborder="0" marginwidth="0" marginheight="0" allowtransparency="true" style="width:100%;height:100%;"></iframe>
        </td>
    </tr>
	<tr>
		<td id="own-foot-box" colspan="2" valign="top" width="100%" height="25" style="width:100%;height:25px;background:#000;border-top:3px solid #090">
            <div id="FootBox" class="FootBox">
				<iframe id="foot" name="foot" src="$ctx/mngt/index-foot.htm" width="100%" height="100%" frameborder="0" marginwidth="0" marginheight="0" allowtransparency="true" scrolling="no" style="width:100%;height:100%;"></iframe>
			</div>
		</td>
	</tr>
</table>