<div class="container-fluid">
	<div class="panel panel-primary">
		<div class="panel-heading">
            <div class="panel-title">参数配置列表</div>
		</div>
    	<div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
						<th><div class="nowrap">操作</div></th>
                        <th><div class="nowrap">参数名</div></th>
    					<th><div class="nowrap">参数描述</div></th>
    					<th><div class="nowrap">参数值</div></th>
						<th><div class="nowrap">增加时间</div></th>
						<th><div class="nowrap">修改时间</div></th>
    					<th><div class="nowrap">参数扩展内容</div></th>
    				</tr>
    			</thead>
                <tbody>
    				#foreach($param in $ParamWebX.findAll())
                    <tr>
						<td><div class="nowrap"><a href="$ctx/mngt/param-config-store.htm?name=$param.name">修改</a> | <a class="param-delete" href="javascript:;" data-name="$param.name">删除</a></div></td>
    					<td><div class="nowrap">$param.name</div></td>
    					<td><div class="nowrap">$param.title</div></td>
    					<td><div class="nowrap">$param.value</div></td>
						<td><div class="nowrap">$!DateUtils.toStringDL($param.gmtCreate)</div></td>
						<td><div class="nowrap">$!DateUtils.toStringDL($param.gmtModify)</div></td>
    					<td><div class="nowrap">$param.valueExt</div></td>
    				</tr>
    				#end
    			</tbody>
    		</table>
        </div>
		<div class="panel-footer text-center">
			<button id="btn-refresh" class="btn btn-lg btn-success pull-left"><i class="fa fa-refresh"></i> 刷新参数列表</button>
			<a class="btn btn-lg btn-primary" href="$ctx/mngt/param-config-store.htm?name="><i class="fa fa-plus"></i> 新增参数配置</a>
		</div>
		<div class="clearfix"></div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
/** 刷新参数配置 */
$("#btn-refresh").click(function(e) {
	self.location.href = self.location.href;
});

/** 删除参数配置 */
$(".param-delete").click(function(e) {
	e.preventDefault();
	var name = $(this).data("name");
	AZD.confirm(function(rtn) {
		if(rtn !== "yes") {
			return;
		}
		jQuery.post("$ctx/mngt/param-config/delete.htm", {
			"name": name
		}, function(result) {
			if(result.success) {
				AZD.modal("参数配置删除成功", "成功提示");
			} else {
				AZD.alert("错误码：<b>" + result.respCode + "</b><br/>错误描述：<b>" + result.respDesp + "</b>", "失败提示");
			}
		});
	}, "确定要删除参数配置（" + name + "）吗？删除数据不可恢复！");
});

//
});
</script>