<div class="container-fluid">
	<div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">远程文件下载</div>
		</div>
        <form role="form" method="post" action="$ctx/mngt/remote-file/fetch.htm" #MarginBottomNO()>
		<div class="panel-body">
        	<div class="form-group">
        		<label for="file">远程文件绝对路径</label>
        		<input id="file" name="file" type="text" class="form-control" required="required" />
        	</div>
            <div class="form-group">
                <p>SQLite数据文件路径: /var/lib/openshift/5305714f5004469cc2000250/app-root/runtime/dependencies/jbossews/public/azdai.db</p>
			</div>
        </div>
    	<div class="panel-footer text-center">
    		<button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-download"></i> 下载文件</button>
    	</div>
        </form>
		<div class="clearfix"></div>
    </div>
	
	<div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">本地文件上传</div>
		</div>
        <form role="form" method="post" action="$ctx/mngt/remote-file/upload.htm" enctype="multipart/form-data" #MarginBottomNO()>
		<div class="panel-body">
        	<div class="form-group">
        		<label for="path">远程文件路径</label>
        		<input id="path" name="path" type="text" class="form-control" required="required" />
        	</div>
			<div class="form-group">
        		<label for="file">选择本地文件</label>
        		<input id="file" name="file" type="file" class="form-control" />
        	</div>
			#if($messages)
			<div class="form-group">
				#foreach($msg in $messages)
				<p>$msg</p>
				#end
            </div>
			#end
        </div>
    	<div class="panel-footer text-center">
    		<button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-upload"></i> 上传文件</button>
    	</div>
        </form>
		<div class="clearfix"></div>
    </div>
</div>