<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 lazy " lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 lazy " lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 lazy " lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 lazy " lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>#if($title) $title -#end 安众贷</title>
#parse("/public/uniform-resources.vm")
</head>
<body id="body">
<div id="wrap">
#parse("/public/uniform-header.vm")
$screen_placeholder
</div>
#set($navbar="help")
#parse("/public/uniform-footer.vm")
</body>
</html>
